name: CI

on: [push, pull_request]

jobs:
  Linux_default:
    name: 'Build and test'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install LLVM
        run: sudo apt-get install llvm-20 llvm-20-dev llvm-20-linker-tools libpolly-20-dev

      - name: Build
        run: cargo build --verbose

      - name: Run unit/doc tests
        run: cargo test --all --verbose

      - name: Install reference compiler (ocaml)
        run: sudo apt-get install ocaml

      - name: Run test programs
        run: RUST_BACKTRACE=1 ./target/debug/test
