name: CI

on: [push, pull_request]

jobs:
  test:
    name: '${{ matrix.backend }} backend'

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        backend: [cranelift, llvm]

    steps:
      - uses: actions/checkout@v2

      - name: Install LLVM
        run: sudo apt-get install llvm-20 llvm-20-dev llvm-20-linker-tools libpolly-20-dev

      - name: Build
        run: cargo build --verbose

      - name: Run unit/doc tests
        run: cargo test --all --verbose

      - name: Install reference compiler (ocaml)
        run: sudo apt-get install ocaml

      - name: Test ${{ matrix.backend }} backend
        run: RUST_BACKTRACE=1 ./target/debug/test --backend=${{ matrix.backend }}
